Repository CaffeineFueledProgrammers/Amplify, pull requests merged in 2024-06, with the labels that each got.

#28 Dev luan
  amplify-icp/src/amplify-icp-frontend/index.html
  amplify-icp/src/amplify-icp-frontend/index.old.html
  amplify-icp/src/amplify-icp-frontend/src/header-scroll.js
  amplify-icp/src/amplify-icp-frontend/src/index.css
  amplify-icp/src/amplify-icp-frontend/src/index.old.css
  frontend/Amplify/.eslintrc.cjs
  frontend/Amplify/.gitignore
  frontend/Amplify/.prettierrc.json
  frontend/Amplify/.vscode/extensions.json
  frontend/Amplify/README.md
  frontend/Amplify/index.html
  frontend/Amplify/jsconfig.json
  frontend/Amplify/package-lock.json
  frontend/Amplify/package.json
  frontend/Amplify/public/favicon.ico
  frontend/Amplify/src/App.vue
  frontend/Amplify/src/assets/base.css
  frontend/Amplify/src/assets/logo.svg
  frontend/Amplify/src/assets/main.css
  frontend/Amplify/src/components/HelloWorld.vue
  frontend/Amplify/src/components/TheWelcome.vue
  frontend/Amplify/src/components/WelcomeItem.vue
  frontend/Amplify/src/components/__tests__/HelloWorld.spec.js
  frontend/Amplify/src/components/icons/IconCommunity.vue
  frontend/Amplify/src/components/icons/IconDocumentation.vue
  frontend/Amplify/src/components/icons/IconEcosystem.vue
  frontend/Amplify/src/components/icons/IconSupport.vue
  frontend/Amplify/src/components/icons/IconTooling.vue
  frontend/Amplify/src/main.js
  frontend/Amplify/vite.config.js
  frontend/Amplify/vitest.config.js
  package-lock.json
Labels: type/enhancement, component/frontend

#30 installed npm vuetify
  frontend/Amplify/package-lock.json
  frontend/Amplify/package.json
Labels: type/enhancement, component/frontend

#31 cleared vue contents and removed eslint
  frontend/Amplify/package.json
  frontend/Amplify/src/App.vue
  frontend/Amplify/src/components/HelloWorld.vue
  frontend/Amplify/src/components/TheWelcome.vue
  frontend/Amplify/src/components/WelcomeItem.vue
Labels: type/enhancement, component/frontend

#32 changed vue app, added vuetify, and nav and main content container
  frontend/Amplify/.browserslistrc
  frontend/Amplify/.editorconfig
  frontend/Amplify/.eslintrc.cjs
  frontend/Amplify/.eslintrc.js
  frontend/Amplify/.gitignore
  frontend/Amplify/.prettierrc.json
  frontend/Amplify/.vscode/extensions.json
  frontend/Amplify/README.md
  frontend/Amplify/index.html
  frontend/Amplify/jsconfig.json
  frontend/Amplify/package-lock.json
  frontend/Amplify/package.json
  frontend/Amplify/public/favicon.ico
  frontend/Amplify/src/App.vue
  frontend/Amplify/src/assets/base.css
  frontend/Amplify/src/assets/logo.png
  frontend/Amplify/src/assets/logo.svg
  frontend/Amplify/src/assets/main.css
  frontend/Amplify/src/components/AppFooter.vue
  frontend/Amplify/src/components/HelloWorld.vue
  frontend/Amplify/src/components/README.md
  frontend/Amplify/src/components/TheWelcome.vue
  frontend/Amplify/src/components/WelcomeItem.vue
  frontend/Amplify/src/components/__tests__/HelloWorld.spec.js
  frontend/Amplify/src/components/icons/IconCommunity.vue
  frontend/Amplify/src/components/icons/IconDocumentation.vue
  frontend/Amplify/src/components/icons/IconEcosystem.vue
  frontend/Amplify/src/components/icons/IconSupport.vue
  frontend/Amplify/src/components/icons/IconTooling.vue
  frontend/Amplify/src/main.js
  frontend/Amplify/src/pages/README.md
  frontend/Amplify/src/pages/index.vue
  frontend/Amplify/src/plugins/README.md
  frontend/Amplify/src/plugins/index.js
  frontend/Amplify/src/plugins/vuetify.js
  frontend/Amplify/src/router/index.js
  frontend/Amplify/src/styles/README.md
  frontend/Amplify/src/styles/settings.scss
  frontend/Amplify/vite.config.js
  frontend/Amplify/vite.config.mjs
  frontend/Amplify/vitest.config.js
Labels: type/documentation, component/frontend

#33 vue structure without flashcard and footer
  frontend/Amplify/index.html
  frontend/Amplify/public/1.png
  frontend/Amplify/public/2.png
  frontend/Amplify/public/Intelligent.png
  frontend/Amplify/public/Smoke.png
  frontend/Amplify/public/a@2x.png
  frontend/Amplify/public/addicon.png
  frontend/Amplify/public/anki.png
  frontend/Amplify/public/bg1@2x.png
  frontend/Amplify/public/defination@2x.png
  frontend/Amplify/public/feather@2x.png
  frontend/Amplify/public/flash1@2x.png
  frontend/Amplify/public/footer@3x.png
  frontend/Amplify/public/grammar@2x.png
  frontend/Amplify/public/group-1@2x.png
  frontend/Amplify/public/info.png
  frontend/Amplify/public/information@2x.png
  frontend/Amplify/public/logo1@2x.png
  frontend/Amplify/public/paraphrase@2x.png
  frontend/Amplify/public/pc.png
  frontend/Amplify/public/profile1.png
  frontend/Amplify/public/profile2.png
  frontend/Amplify/public/profile3.png
  frontend/Amplify/public/shareicon.png
  frontend/Amplify/public/smoke@2x.png
  frontend/Amplify/src/App.vue
  frontend/Amplify/src/assets/A.png
  frontend/Amplify/src/components/AiProcess.vue
  frontend/Amplify/src/components/AmplifyKeyFeat.vue
  frontend/Amplify/src/components/HelloWorld.vue
  frontend/Amplify/src/components/flashcard.vue
  frontend/Amplify/src/components/home.vue
  frontend/Amplify/src/components/navbar.vue
  frontend/Amplify/src/components/sharecollab.vue
  frontend/Amplify/src/pages/index.vue
Labels: type/enhancement, component/frontend

#34 edited structure, moved image to assets
  frontend/Amplify/index.html
  frontend/Amplify/src/App.vue
  frontend/Amplify/src/assets/1.png
  frontend/Amplify/src/assets/2.png
  frontend/Amplify/src/assets/Intelligent.png
  frontend/Amplify/src/assets/Smoke.png
  frontend/Amplify/src/assets/a@2x.png
  frontend/Amplify/src/assets/addicon.png
  frontend/Amplify/src/assets/anki.png
  frontend/Amplify/src/assets/bg1@2x.png
  frontend/Amplify/src/assets/defination@2x.png
  frontend/Amplify/src/assets/favicon.ico
  frontend/Amplify/src/assets/feather@2x.png
  frontend/Amplify/src/assets/flash1@2x.png
  frontend/Amplify/src/assets/footer@3x.png
  frontend/Amplify/src/assets/grammar@2x.png
  frontend/Amplify/src/assets/group-1@2x.png
  frontend/Amplify/src/assets/info.png
  frontend/Amplify/src/assets/information@2x.png
  frontend/Amplify/src/assets/logo1@2x.png
  frontend/Amplify/src/assets/paraphrase@2x.png
  frontend/Amplify/src/assets/pc.png
  frontend/Amplify/src/assets/profile1.png
  frontend/Amplify/src/assets/profile2.png
  frontend/Amplify/src/assets/profile3.png
  frontend/Amplify/src/assets/shareicon.png
  frontend/Amplify/src/assets/smoke@2x.png
  frontend/Amplify/src/components/AiProcess.vue
  frontend/Amplify/src/components/AmplifyKeyFeat.vue
  frontend/Amplify/src/components/AppFooter.vue
  frontend/Amplify/src/components/flashcard.vue
  frontend/Amplify/src/components/navbar.vue
  frontend/Amplify/src/components/sharecollab.vue
  frontend/Amplify/src/pages/index.vue
Labels: type/enhancement, component/frontend

#36 edited landing page styles
  frontend/Amplify/src/assets/A.png
  frontend/Amplify/src/assets/NOTE TAKING (2).png
  frontend/Amplify/src/assets/a(11).png
  frontend/Amplify/src/assets/bg1@2x.png
  frontend/Amplify/src/assets/bg@2x.png
  frontend/Amplify/src/assets/keyfeat_bg.png
  frontend/Amplify/src/components/AiProcess.vue
  frontend/Amplify/src/components/AmplifyKeyFeat.vue
  frontend/Amplify/src/components/AppFooter.vue
  frontend/Amplify/src/components/home.vue
  frontend/Amplify/src/components/navbar.vue
  frontend/Amplify/src/components/sharecollab.vue
Labels: type/enhancement, component/frontend

#35 feat(backend): add Django backend code
  .gitignore
  README.md
  backend/README.md
  backend/amplify/amplify/__init__.py
  backend/amplify/amplify/asgi.py
  backend/amplify/amplify/settings.py
  backend/amplify/amplify/urls.py
  backend/amplify/amplify/wsgi.py
  backend/amplify/manage.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend.bak/00001e.png
  frontend.bak/login.css
  frontend.bak/login.html
  frontend/README.md
Labels: type/enhancement, component/backend

#40 ci(backend): add pylint GH Action
  .github/workflows/pylint.yml
  backend/poetry.lock
  backend/pyproject.toml
Labels: component/backend

#41 Resolve linter errors
  backend/amplify/amplify/settings.py
  backend/amplify/manage.py
Labels: type/documentation, component/backend, type/style

#42 docs: update `README.md` files
  backend/README.md
  frontend/README.md
Labels: type/documentation

#44 docs: update `README.md`
  README.md
Labels: type/documentation

#60 chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: type/documentation

#61 added flashcard
  frontend/Amplify/src/components/flashcard.vue
Labels: type/enhancement, component/frontend

#62 Dev luan
  frontend/Amplify/src/assets/bg@flash.png
  frontend/Amplify/src/components/AppFooter.vue
  frontend/Amplify/src/components/flashcard.vue
  frontend/Amplify/src/components/navbar.vue
  frontend/Amplify/src/components/sharecollab.vue
Labels: type/enhancement, component/frontend

#63 Dev astriaaa
  frontend/Amplify/package-lock.json
  frontend/Amplify/package.json
  frontend/Amplify/src/assets/login_logo.png
  frontend/Amplify/src/components/login.vue
  frontend/Amplify/src/router/index.js
Labels: type/enhancement, component/frontend

#66 style(frontend): apply formatting
  amplify-icp/src/amplify-icp-frontend/package.json
  frontend/Amplify/package-lock.json
  frontend/Amplify/package.json
  frontend/Amplify/src/App.vue
  frontend/Amplify/src/components/AiProcess.vue
  frontend/Amplify/src/components/AmplifyKeyFeat.vue
  frontend/Amplify/src/components/AppFooter.vue
  frontend/Amplify/src/components/flashcard.vue
  frontend/Amplify/src/components/login.vue
  frontend/Amplify/src/components/navbar.vue
  frontend/Amplify/src/components/sharecollab.vue
  frontend/Amplify/src/pages/index.vue
  frontend/Amplify/src/pages/login.vue
  frontend/Amplify/src/plugins/index.js
  frontend/Amplify/src/router/index.js
Labels: component/frontend, type/style

#67 ci: create `super-linter.yml`
  .github/workflows/super-linter.yml
Labels: component/ci

#68 feat!: use Flask instead of Django
  .github/workflows/django.yml
  .github/workflows/pylint.yml
  amplify_backend/__init__.py
  amplify_backend/__main__.py
  amplify_backend/routes.py
  backend/README.md
  backend/amplify/amplify/__init__.py
  backend/amplify/amplify/asgi.py
  backend/amplify/amplify/settings.py
  backend/amplify/amplify/urls.py
  backend/amplify/amplify/wsgi.py
  backend/amplify/manage.py
  backend/poetry.lock
  poetry.lock
  pyproject.toml
Labels: type/enhancement, component/backend

#72 docs: update `README.md`
  README.md
Labels: type/documentation

#73 feat: update frontend and backend server host/ports
  amplify_backend/__main__.py
  amplify_backend/config.py
  amplify_frontend/vite.config.mjs
Labels: type/enhancement, component/frontend, component/backend

#71 added media query, removed animation delay
  amplify_frontend/src/components/AiProcess.vue
  amplify_frontend/src/components/AmplifyKeyFeat.vue
  amplify_frontend/src/components/flashcard.vue
  amplify_frontend/src/components/sharecollab.vue
  amplify_frontend/src/pages/dashboard.vue
  amplify_frontend/src/pages/pricing.vue
  amplify_frontend/src/router/index.js
Labels: type/enhancement, component/frontend

#74 feat: add backend run with modes
  .github/workflows/super-linter.yml
  README.md
  amplify_backend/__main__.py
  amplify_backend/config.py
  amplify_backend/routes.py
  data/.gitinclude
  pyproject.toml
Labels: type/enhancement, component/backend

#75 Dev luan
  amplify_frontend/src/components/AiProcess.vue
  amplify_frontend/src/components/AmplifyKeyFeat.vue
  amplify_frontend/src/components/flashcard.vue
  amplify_frontend/src/components/home.vue
  amplify_frontend/src/components/sharecollab.vue
Labels: type/enhancement, component/frontend

#76 feat(backend): separate app factory from routes
  amplify_backend/__main__.py
  amplify_backend/app_factory.py
  amplify_backend/config.py
  amplify_backend/routes.py
Labels: type/enhancement, component/backend

#77 route to dashboard
  amplify_frontend/src/components/navbar.vue
  amplify_frontend/src/pages/dashboard.vue
  amplify_frontend/src/router/index.js
Labels: type/enhancement, component/frontend

#80 Dev luan
  amplify-icp/src/amplify-icp-frontend/src/pages/dashboard.vue
  amplify_frontend/package-lock.json
  amplify_frontend/package.json
  amplify_frontend/src/components/noteeditor.vue
  amplify_frontend/src/components/notes.vue
  amplify_frontend/src/components/sharedflashcar.vue
  amplify_frontend/src/components/sidebar.vue
  amplify_frontend/src/pages/dashboard.vue
  amplify_frontend/src/plugins/vuetify.js
Labels: type/enhancement, component/frontend, status/in-progress

#83 Co-authored-by: Luan <dennissegailfrancisco@users.noreply.github.com>
  amplify_frontend/src/components/navbar.vue
  amplify_frontend/src/pages/pricing.vue
  amplify_frontend/src/router/index.js
Labels: type/enhancement, component/frontend
