Repository CaffeineFueledProgrammers/Amplify, pull requests merged in 2024-05, with the labels that each got.

#13 several changes
  AMPLIFY - 2/index.css
  AMPLIFY - 2/index.html
  AMPLIFY - 2/public/grammar@2x.png
  AMPLIFY - 2/public/info.png
  AMPLIFY - 2/public/paraphrase@2x.png
Labels: type/enhancement, component/frontend

#16 feat(backend): update backend template
  .gitignore
  amplify-icp/.gitignore
  amplify-icp/README.md
  amplify-icp/backend/.gitignore
  amplify-icp/backend/database/entities/index.ts
  amplify-icp/backend/database/entities/user.ts
  amplify-icp/backend/database/index.ts
  amplify-icp/backend/database/logger/ConsoleLogger.ts
  amplify-icp/backend/database/logger/index.ts
  amplify-icp/backend/database/migrations/1715076764-InsertMockUsers.ts
  amplify-icp/backend/database/storage/index.ts
  amplify-icp/backend/index.did
  amplify-icp/backend/index.ts
  amplify-icp/backend/package.json
  amplify-icp/backend/server.ts
  amplify-icp/backend/tsconfig.json
  amplify-icp/dfx.json
  amplify-icp/frontend/.env-example
  amplify-icp/frontend/.eslintrc.json
  amplify-icp/frontend/.gitignore
  amplify-icp/frontend/next.config.mjs
  amplify-icp/frontend/package.json
  amplify-icp/frontend/postcss.config.js
  amplify-icp/frontend/public/next.svg
  amplify-icp/frontend/public/vercel.svg
  amplify-icp/frontend/src/app/favicon.ico
  amplify-icp/frontend/src/app/globals.css
  amplify-icp/frontend/src/app/layout.tsx
  amplify-icp/frontend/src/components/header.tsx
  amplify-icp/frontend/src/pages/_app.tsx
  amplify-icp/frontend/src/pages/index.tsx
  amplify-icp/frontend/tailwind.config.js
  amplify-icp/frontend/tailwind.config.ts
  amplify-icp/frontend/tsconfig.json
  amplify-icp/package-lock.json
  amplify-icp/package.json
  amplify-icp/requirements.in
  amplify-icp/requirements.txt
  amplify-icp/src/amplify-icp-backend/amplify-icp-backend.did
  amplify-icp/src/amplify-icp-backend/src/main.py
  amplify-icp/src/amplify-icp-frontend/assets/.ic-assets.json5
  amplify-icp/src/amplify-icp-frontend/assets/favicon.ico
  amplify-icp/src/amplify-icp-frontend/index.html
  amplify-icp/src/amplify-icp-frontend/package.json
  amplify-icp/src/amplify-icp-frontend/src/App.js
  amplify-icp/src/amplify-icp-frontend/src/index.scss
  amplify-icp/src/amplify-icp-frontend/src/logo2.svg
  amplify-icp/src/amplify-icp-frontend/src/main.js
  amplify-icp/src/amplify-icp-frontend/src/vite-env.d.ts
  amplify-icp/src/amplify-icp-frontend/tsconfig.json
  amplify-icp/src/amplify-icp-frontend/vite.config.js
  amplify-icp/tsconfig.json
  amplify-icp/turbo.json
Labels: type/enhancement, component/backend

#17 nav bar resize
  frontend/index.css
Labels: type/enhancement, component/frontend

#18 Dev luan
  frontend/index.css
Labels: type/enhancement, component/frontend

#19 feat(frontend): update styling
  frontend/global.css
  frontend/index.css
Labels: type/enhancement, component/frontend

#22 bg fit
  amplify-icp/src/amplify-icp-frontend/index.css
  amplify-icp/src/amplify-icp-frontend/index.html
Labels: type/bug, component/frontend

#24 style: format file via prettier
  amplify-icp/src/amplify-icp-frontend/index.html
Labels: type/enhancement, component/frontend

#26 feat: add frontend files to ICP template
  amplify-icp/.azle/amplify-icp-backend/amplify-icp-backend.wasm
  amplify-icp/.azle/amplify-icp-backend/canister.wasm
  amplify-icp/dfx.json
  amplify-icp/package-lock.json
  amplify-icp/src/amplify-icp-frontend/index.html
  amplify-icp/src/amplify-icp-frontend/src/App.js
  amplify-icp/src/amplify-icp-frontend/src/global.css
  amplify-icp/src/amplify-icp-frontend/src/header-scroll.js
  amplify-icp/src/amplify-icp-frontend/src/index.css
  amplify-icp/src/amplify-icp-frontend/src/main.js
Labels: type/enhancement, component/frontend

#25 User1 hover
  amplify-icp/src/amplify-icp-frontend/src/index.css
Labels: type/bug, component/frontend, status/in-progress

#27 resized
  amplify-icp/src/amplify-icp-frontend/index.html
  amplify-icp/src/amplify-icp-frontend/src/index.css
Labels: type/enhancement, component/frontend
